<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="weburl" value="http://localhost:8081"/>
    <add key="reportFileName" value="JIT_Label.frx"/>
    <add key="autoprint" value="false"/>
  </appSettings>
</configuration>